@font-face {
    font-family: "SG";
    src: url("./SpecialGothic-CondensedMedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "SG";
    src: url("./SpecialGothic-ExtendedBold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "SG";
    src: url("./SpecialGothic-Regular.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}
